{% extends 'applipizza/base.html' %}
{% block title %} Confirmation d'envoi d'instructions {% endblock %}
{% block main %}
<h2>Message de réinitialisation du mot de passe envoyé</h2>
<p>
    Nous vous avons envoyé par email les instructions pour changer de mot de passe,<br>
    pour autant qu'un compte existe avec l'adresse que vous avez indiquée. <br>
    Vous devriez rapidement recevoir ce message. <br>
    Dans le cas contraire, contrôlez vos spams et vérifiez que l'adresse email mentionnée est<br> bien votre adresse de contact.
</p>

{% endblock %}