.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
    padding: 20px 10%;
}

nav {
    background-color: rgb(83, 177, 83);
}

.navbar-image {
    width: 50px;
    height: auto;
}

.pizzas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 30px;
}

.divPizza {
    display: grid;
    grid-template-rows: max-content 30px 1fr;
    text-align:center;

    background-color: antiquewhite;
    border: thick double whitesmoke;
    border-radius: 30px;
    
    box-shadow: 5px 5px 5px antiquewhite;
}

.divPizza img {
    object-fit: cover;
    width: 90%;
    height: 90%;
    margin: 10px;

    border-style: inset;
    border-color:antiquewhite;
    border-radius: 20px;
}