.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
    padding: 20px 10%;
}

nav {
    background-color: rgb(83, 177, 83);
}

.navbar-image {
    width: 50px;
    height: auto;
}

.divPizza {
    background-color: antiquewhite;
    border: thick double whitesmoke;
    border-radius: 30px;

    text-align: center;
    
    box-shadow: 5px 5px 5px antiquewhite;
}

.divPizza img {
    object-fit: cover;
    width: 90%;
    height: 90%;
    margin: 10px;

    border-style: inset;
    border-color:antiquewhite;
    border-radius: 20px;
}

.imgPizza {
    object-fit: cover;
    padding: 0;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(177, 177, 177);
}

thead, tfoot {
    background-color: rgb(212, 245, 199);
}

.btnAjtPanier {
    background-color: rgb(83, 177, 83);
    color: white;
    
    padding : 10px;

    border-style: outset;
    border-radius: 10px;
}