main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    display: flex;
    bottom: 0;
}

nav {
    background-color: rgb(83, 177, 83);
}

.navbar-image {
    width: 50px;
    height: auto;
}