.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

nav {
    background-color: rgb(83, 177, 83);
}

.navbar-image {
    width: 50px;
    height: auto;
}