{% extends 'applipizza/base.html' %}

{% block title %}
les ingrédients di la mama
{% endblock %}

{% block main %}
<h2>voici nos {{ingredients|length}} ingrédients</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ingrédient</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for ing in ingredients %}
        <tr>
            <td scope="row">{{ing}}</td>
            <td><a href="/ingredients/{{ing.idIngredient}}/update/"><i class="bi bi-pencil-square"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/ingredients/{{ing.idIngredient}}/delete/"><i class="bi bi-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}