{% extends 'applipizza/base.html' %}

{% block title %}
les pizzas di la mama
{% endblock %}

{% block main %}
<h2>voici nos {{pizzas|length}} pizzas</h2>
<div class="pizzas">
    {% for piz in pizzas %}
    <div class="divPizza">
        <div>
            <a href="/pizzas/{{piz.idPizza}}">
                <img src="{{MEDIA_URL}}{{piz.image}}" alt="image de pizza" title="{{piz.nomPizza}}">
            </a>
        </div>
        <div>{{piz}}</div>
        <div>
            <a href="/pizzas/{{piz.idPizza}}/"><i class="bi bi-info-circle"></i></a> | 
            <a href="/pizzas/{{piz.idPizza}}/update/"><i class="bi bi-pencil-square"></i></a> | 
            <a href="/pizzas/{{piz.idPizza}}/delete/"><i class="bi bi-trash3"></i></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}