{% extends 'applipizza/base.html' %}

{% block title %}
la pizza di la mama
{% endblock %}

{% block main %}
<h2>voici NOTRE pizza</h2>
<p>{{pizza}}</p>
{% if compo %}
<h2>voici les {{compo|length}} ingrédients de la pizza {{pizza.nomPizza}}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ingrédient</th>
            <th scope="col">Quantité</th>

            {% if user.is_staff %}
            <th scope="col">Supprimer</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for comp in compo %}
        <tr>
            <td>{{comp.ingredient}}</td>
            <td>{{comp.quantite}}</td>

            {% if user.is_staff %}
            <td><a href="/pizzas/{{pizza.idPizza}}/deleteIngredient/{{comp.idComposition}}"><span class="bi bi-trash"></span></a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Malheureusement, la pizza {{pizza.nomPizza}} n'a pas encore d'ingrédients</p>
{% endif %}

{% if user.is_staff %}
<h2>Ajouter un ingrédient</h2>
<form action="/pizzas/{{pizza.idPizza}}/addIngredient/" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_ingredient" class="form-label">Ingrédient</label>
        <select name="ingredient" class="form-select" required id="id_ingredient">
            <option selected disabled>choisissez</option>
            {% for ing in lesIng %}
            <option value="{{ing.idIngredient}}">{{ing.nomIngredient}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="id_quantite" class="form-label">Quantité</label>
        <input type="text" name="quantite" class="form-control" max-length="100" required id="id_quantite">
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
{% endif %}
{% endblock %}